/* HTML */
html {
  height: 100%;
  width: 100%;
  background-color: #16212e;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

/* GLOBAL */
.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
}

/* MENU */
.menu {
  height: 80px;
  background-color: #16212e;
  width: 100%;
  border-bottom: solid 1px #0e1623;
}

.content {
  width: 65%;
  height: 100%;
  margin: auto;
  position:relative
}

.logo {
  max-height: 90%;
  height:auto;
  margin-top: 5px;
}

.categories {
  position: absolute;
  right: 0px;
  bottom: 5px;
}

ul {
  margin: 22px 0px 0px 0px;
  right: 0;
}

ul a {
  color: white;
  text-decoration: none;
}

li {
  margin-left: 20px;
  list-style: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: white;
  font-style: normal;
}

/* SLIDER */
.slider {
  height: 450px;
  width: 100%;
  background: url("./assets/esport_event2.jpg") no-repeat;
  background-size: cover;
  background-position: 10%;
  opacity: 0.75;
  margin-bottom: 50px;
}

h3 {
  margin: 0px;
  padding-top: 170px;
  color: white;
  font-size: 34px;
  text-align: center;
  
  text-shadow: 1px 1px 2px black;
}

.sliderLinks {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

a {
  color: white;
  text-decoration: none;
}

.subscription {
  margin-right: 10px;
}

.information {
  margin-left: 10px;
}

/* CARD */
.card {
  background-color: #1d2938;
  height: 150px;
  margin-top: 15px;
}

.cardImg {
  max-height: 70%;
  height:auto;
  margin: 22.5px 50px 0px 50px;
  filter: invert(100%);
  float: left;
}

.cardTitle {
  padding: 15px 0px 0px 0px;
  text-align: left; 
}

.cardText {
  text-align: left; 
  color: white;
  font-size: 18px;
  width: 95%;
}

/* TOOLS */
.tools{
  margin-top: 60px;
  height: 180px;
}

.toolsLogo {
  /* vertical-align: middle; */
  height: 95%;
  filter: invert(100%);
  float: left;
  margin: 0px 32px 0px 0px;
  /* height:auto; */
  object-fit: cover;
}

.tucasseslescouilles {
  padding: 1px;
}

.underlineLink {
  text-decoration: underline;
}
span {
  color: white;
}


/* DEBUG */
.debug {
  /* height: 450px; */
  /* width: 100%; */
  border: 1px red dotted;
}