/* HTML */
html {
  height: 100%;
  width: 100%;
  background-color: #16212e;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

/* GLOBAL */
.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
}

/* MENU */
.menu {
  height: 50px;
  background-color: #16212e;
  width: 100%;
}

.content {
  width: 85%;
  height: 100%;
  margin: auto;
  position:relative
}

.logo {
  max-width:100%;
  height:auto;
  margin-top: 5px;
}

.categories {
  position: absolute;
  right: 0px;
}

ul {
  margin: 22px 0px 0px 0px;
  right: 0;
}

ul a {
  color: white;
  text-decoration: none;
}

li {
  margin-left: 20px;
  list-style: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: white;
  font-style: normal;
}

/* SLIDER */
.slider {
  height: 450px;
  width: 100%;
  background: url("./assets/esport_event2.jpg") no-repeat;
  background-size: cover;
  background-position: 10%;
  opacity: 0.75;
}

h3 {
  /* vertical-align: middle; */
  padding-top: 170px;
  color: white;
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-shadow: 1px 1px 2px black;
}

/* DEBUG */
.debug {
  height: 450px;
  width: 100%;
  border: 1px red dotted;
}