/* HTML */
html {
  height: 100%;
  width: 100%;
  background-color: #16212e;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

/* GLOBAL */
/* .container {
  display: grid;
  grid-template-columns: 40px auto 40px;
} */

p {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 75px auto;
}

.buttons {
  background-color: rgba(29,41,56,0.8);
  height: 47px;
  width: 142px; 
  border: 2px solid white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* MENU */
.menu {
  min-height: 80px;
  background-color: #16212e;
  width: 100%;
  border-bottom: solid 1px #0e1623;
}

.content {
  width: 65%;
  height: 100%;
  margin: auto;
  position:relative
}

.logo {
  max-height: 90%;
  height:auto;
  margin-top: 5px;
}

.categories {
  /* position: absolute; */
  right: 0px;
  justify-self: end;
  bottom: 5px;
}

.menu_button {
  font-size: 18px;
  font-weight: normal;
}

ul {
  margin: 22px 0px 0px 0px;
  right: 0;
}

ul a {
  color: white;
  text-decoration: none;
}

li {
  margin-left: 20px;
  list-style: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: white;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

/* SLIDER */
.slider {
  min-height: 450px;
  width: 100%;
  background: url("./assets/esport_event2.jpg") no-repeat;
  background-size: cover;
  background-position: 10%;
  opacity: 0.75;
  margin-bottom: 50px;
  position: relative;
}

.sliderTitle {
  margin: 0px;
  padding-top: 130px;
  color: white;
  font-size: 34px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.sliderLinks {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.subscription {
  margin-right: 10px;
}

.information {
  margin-left: 10px;
}

@media only screen and (max-width: 770px) {
  .sliderTitle{
    padding-top: 80px;
    text-align: left;
  }
  .subscription {
    display: block;
    text-align: left;
  }
  .information {
    text-align: left;
    display: block;
    margin: 0;
  }
}

/* CARD */
.card {
  background-color: #1d2938;
  min-height: 170px;
  /* height: 150px; */
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 15px;
}

.cardImg {
  height: 125px;
  /* max-height: 70%; */
  /* height:auto; */
  /* margin: 22.5px 22.5px 0px 22.5px; */
  margin: auto auto;
  filter: invert(100%);
  float: left;
}

.cardTitle {
  padding: 15px 0px 0px 0px;
  text-align: left; 
}

.cardText {
  text-align: left; 
  color: white;
  font-size: 18px;
  width: 95%;
}

@media only screen and (max-width: 770px) {
  .card {
    display: block;
    background-color: #1d2938;
    min-height: 170px;
    margin-top: 15px;
    padding: 20px;

  }

  .cardImg {
    float: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }

  .cardTitle {
    text-align: left;
    margin-bottom: 30px;
  }

  .cardDescription {
    text-align: justify;
    text-justify: none;
  }
}

/* TOOLS */
.tools{
  margin-top: 60px;
  min-height: 180px;
}

.toolsLogo {
  height: 170px;
  filter: invert(100%);
  float: left;
  margin: 0px 32px 0px 0px;
  object-fit: cover;
}

.toolsTexts {
  padding: 1px;
}

.underlineLink {
  text-decoration: underline;
}
span {
  color: white;
}

@media only screen and (max-width: 770px) {
  .toolsLogo {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .cardText {
    text-align: justify;
  }
}


/* FOOTER */
.footer {
  height: 100px;
  margin-top: 50px;
}

.footerGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10px 20px;

}

.footerSeparator {
  height: 2px;
  background-color: #1d2938;
  grid-column-start: 1;
  grid-column-end: 3;
}

.media_icon {
  filter: invert(100%);
  max-height: 100%;
  height:auto;
  float: left;
  margin-right: 20px;
  /* height: 10%; */
}

.footerLink {
  justify-self: end;
}

.leftLink {
  margin-right: 20px;
}

.copyright {
  font-size: 10px;
}

/* DEBUG */
.debug {
  /* height: 450px; */
  /* width: 100%; */
  border: 1px red dotted;
}

